@font-face {
  font-family: "maharlika";
  src: url("../../assets/fonts/maharlika.ttf") format("truetype");
}

@font-face {
  font-family: "garet";
  src: url("../../assets/fonts/garet.ttf") format("truetype");
}
* {
  margin: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: "garet";
}

.navbar a {
  text-decoration: none;
  margin-left: 15px;
  color: #6b6053;
}
